@import models.OrgModel.Org
@(form: Form[Org], orgs: Option[List[Org]])(implicit messages: Messages)

@tr(s: String) = {
  <tr><td>@s</td></tr>
}

@main("Welcome to Play") {

<h3>Navigation</h3>
<div id="nav">
    <a href="/">Home</a><br />
    <a href="/surveys">Surveys</a><br />
    <a href="/questions">Questions</a><br />
    <a href="/responses">Responses</a><br />
    <a href="/login">Login</a><br />
    <a href="/register">Register</a>
</div>


    @helper.form(action = routes.Orgs.post()) {
        @helper.inputText(form("name"),'_label -> "Enter Organization Name")
        <input type="submit" value="Add Organization" />
    }

    @orgs match {
        case Some(list) => {
<table>
  <tr><td>Org Name</td></tr>
            @for(org <- list) {
                @tr(org.name)
            }
</table>
        }
        case None => {
            <p>No orgs found</p>
        }
    }
}
