@import models.UserModel.{LoginRequest}
@(form: Form[LoginRequest])(implicit messages: Messages)


@main("Welcome to Play") {

<h3>Navigation</h3>
<div id="nav">
    <a href="/">Home</a><br />
    <a href="/surveys">Surveys</a><br />
    <a href="/questions">Questions</a><br />
    <a href="/responses">Responses</a><br />
    <a href="/orgs">Organizations</a><br />
    <a href="/login">Login</a><br />
    <a href="/register">Register</a>
</div>

    @helper.form(action = routes.Security.register()) {
        @helper.inputText(form("userId"),'_label -> "Enter New Username")
        @helper.inputText(form("password"),'_label -> "Enter New Password")
        <input type="submit" value="Register" />
    }
}
