@import models.UserModel.{LoginRequest}
@(form: Form[LoginRequest])(implicit messages: Messages)


@main("Login Page") {

<h2>Navigation</h2>
<table>
      <tr>
        <td><a href="/">Home</a><br /></td>
        <td><a href="/surveys">Surveys</a><br /></td>
        <td><a href="/questions">Questions</a><br /></td>
        <td><a href="/responses">Responses</a><br /></td>
      </tr>
    </table>

    @helper.form(action = routes.Security.post()) {
        @helper.inputText(form("userId"),'_label -> "Enter Username")
        @helper.inputText(form("password"),'_label -> "Enter Password")
        <blockquote>
            <input type="submit" value="Login" />
            <input type="button" value="Register" onclick="location.href='/register'" />
        </blockquote>
    }
}
